*{
    margin: 0;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
header{
    background-color: #2C3E50;
    color: #ECF0F1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    padding: 0 80px;
}
header .logo{
    font-size: 23px;
    font-weight: 600;
}
header nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
header nav ul li a{
    color: #ECF0F1;
    text-decoration: none;
}

.main-container .intro{
    display: flex;
}
